services:
  timescaledb:
    image: timescale/timescaledb:latest-pg17
    restart: always
    container_name: integration-tests-prisma
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tests
